:root {
	--cab: 70px;
	--c0: #444;
	--c1: #EEE;
}

* {
	box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
	border: 0;
}

header {
	max-height: var(--cab);
	height: 20vh;
}

nav {
	height: var(--cab);
	width: 100%;
}

ul {
	justify-content: space-around;
	align-items: center;
	list-style: none;
	display: flex;
	height: 100%;
}

li {
	background-color: var(--c1);
	text-decoration: none;
	text-decoration: none;
	font-weight: bolder;
	cursor: pointer;
	color: var(--c0);
	height: 100%;
	width: 100%;
}

a {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

section {
	height: calc(100vh - var(--cab));
	background-color: var(--c0);
	color: var(--c1);
	padding: 20px;
	width: 100%;
}

section:not(:first-child) {
	display: none;
}

h1 {
	padding: 20px;
}